---
layout: 'base.njk'
---
<div class="wrapper">
  <article class="content full-width">
      <h2>Our story</h2>
      <p>We are James and Jason, two dedicated professionals with a wealth of diverse expertise united to develop innovative solutions. James has over ten years experience in robotics engineering, working with start-ups and academic institutions, while Jason specialises in requirements management and technical architecture, having collaborated with top consultancies. After working together for several years on successful technology-based projects for industry partners and government agencies, we felt it was the right moment to venture out on our own share the expertise we've developed</p>
  </article>
</div>
<div class="wrapper alt-bg">
  <article class="content popout">
    <h2>Our story</h2>
    <p>We are James and Jason, two dedicated professionals with a wealth of diverse expertise united to develop innovative solutions. James has over ten years experience in robotics engineering, working with start-ups and academic institutions, while Jason specialises in requirements management and technical architecture, having collaborated with top consultancies. After working together for several years on successful technology-based projects for industry partners and government agencies, we felt it was the right moment to venture out on our own share the expertise we've developed</p>
  </article>
</div>
<div class="wrapper image-bg">
  <article class="content popout">
    <h2>Our story</h2>
    <p>We are James and Jason, two dedicated professionals with a wealth of diverse expertise united to develop innovative solutions. James has over ten years experience in robotics engineering, working with start-ups and academic institutions, while Jason specialises in requirements management and technical architecture, having collaborated with top consultancies. After working together for several years on successful technology-based projects for industry partners and government agencies, we felt it was the right moment to venture out on our own share the expertise we've developed</p>
  </article>
</div>
<div class="wrapper">
  <article class="content">
    <h2>Our story</h2>
    <p>We are James and Jason, two dedicated professionals with a wealth of diverse expertise united to develop innovative solutions. James has over ten years experience in robotics engineering, working with start-ups and academic institutions, while Jason specialises in requirements management and technical architecture, having collaborated with top consultancies. After working together for several years on successful technology-based projects for industry partners and government agencies, we felt it was the right moment to venture out on our own share the expertise we've developed</p>
  </article>
</div>