---
layout: 'base.njk'
---
<div class="wrapper image-bg big-block-font" style="display: flex;">
  <article class="content popout column-article" style="max-width: 33%; align-items: center;">
    <p>TOO MUCH<br>
      HUMAN EXPERTISE<br>
      IS WASTED<br>
      ON MENIAL TASKS<br>
      THAT ARE RIPE<br>
      FOR AUTOMATION</p>
  </article>
  <article class="content popout with-vertical-line column-article" style="max-width: 33%; align-items: center;">
    <p>WE BUILD SYSTEMS<br>
      THAT REMOVE<br>
      THE GRIND FROM<br>
      REPETITIVE TASKS</p>
  </article>
  <article class="content popout with-vertical-line column-article" style="max-width: 33%; align-items: center;">
    <p>SO YOU CAN<br>
      FOCUS ON<br>
      THE WORK<br>
      THAT MATTERS</p>
  </article>
</div>
<div class="wrapper">
  <article class="content">
    <h2>Our story</h2>
    <p>We are James and Jason, two dedicated professionals with a wealth of diverse expertise united to develop innovative solutions. James has over ten years experience in robotics engineering, working with start-ups and academic institutions, while Jason specialises in requirements management and technical architecture, having collaborated with top consultancies. After working together for several years on successful technology-based projects for industry partners and government agencies, we felt it was the right moment to venture out on our own share the expertise we've developed</p>
  </article>
</div>