---
layout: 'base.njk'
---
<div class="wrapper image-bg big-block-font" style="display: flex;">
  <article class="content popout column-article" style="max-width: 33%; align-items: center;">
    <p>TOO MUCH<br>
      HUMAN EXPERTISE<br>
      IS WASTED<br>
      ON MENIAL TASKS<br>
      THAT ARE RIPE<br>
      FOR AUTOMATION</p>
  </article>
  <article class="content popout with-vertical-line column-article" style="max-width: 33%; align-items: center;">
    <p>WE BUILD SYSTEMS<br>
      THAT REMOVE<br>
      THE GRIND FROM<br>
      REPETITIVE TASKS</p>
  </article>
  <article class="content popout with-vertical-line column-article" style="max-width: 33%; align-items: center;">
    <p>SO YOU CAN<br>
      FOCUS ON<br>
      THE WORK<br>
      THAT MATTERS</p>
  </article>
</div>
<div class="wrapper">
  <article class="content">
    <h2>Our story</h2>
    <p>We are James and Jason, two dedicated professionals with a wealth of diverse expertise united to develop innovative solutions. James has over ten years experience in robotics engineering, working with start-ups and academic institutions, while Jason specialises in requirements management and technical architecture, having collaborated with top consultancies. After working together for several years on successful technology-based projects for industry partners and government agencies, we felt it was the right moment to venture out on our own and leverage our experience</p>
  </article>
</div>
<div class="wrapper" style="display: flex; background-color: var(--color-06);">
  <article class="content popout" style="max-width: 50%;">
        <img src="../assets/img/j04-las.png" alt="Laser scan of a building" style="width: 100%; height: auto;">
  </article>
  <article class="content padded-article" style="max-width: 50%; text-align: left; justify-content: center;">
    <h3>Example use cases</h3>
    <h1>Construction verification</h1>
    <p>Validate subcontractor claims with daily site scans and automated processing</p>
    <p>Identify troublesome installations early so they can be rectified in a cost-effective manner</p>
    <p>Provide building owners with the data they need to maintain their assets</p>
  </article>
</div>
<div class="wrapper" style="padding-bottom: 0;">
  <article class="content" style="text-align: center; font-size: 56px;"> 
    <p>Meet the Team</p>
  </article>
</div>
<div class="wrapper" style="display: flex; padding-top: 0;">
  <article class="content" style="min-width: 25%;">
  </article>
  <article class="content" style="max-width: 403px; background-color: var(--color-06); padding: 30px;">
    <img src="../assets/img/james.avif" alt="James" style="width: 403px; height: 334px; object-fit: cover; object-position: 50% 50%;" width="403" height="334" loading="lazy" data-ssr-src-done="true" fetchpriority="high">
    <h3>Chief Engineer</h3>
    <h2>James Ward</h2>
    <p>James is the brains behind our technology. He has a knack for solving complex problems and is always up-to-date with the latest tech trends. He is passionate about mentoring junior engineers to unlock their potential.</p>
  </article>
  <article class="content" style="min-width: 50px;">
  </article>
  <article class="content" style="max-width: 403px; background-color: var(--color-06); padding: 30px;">
    <img src="../assets/img/jason.avif" alt="Jason" style="width: 403px; height: 334px; object-fit: cover; object-position: 50% 50%;" width="403" height="334" loading="lazy" data-ssr-src-done="true" fetchpriority="high">
    <h3>Managing Director</h3>
    <h2>Jason Webb</h2>
    <p>Jason brings a wealth of experience from various sectors. With a strong background in requirements management and strategic planning, Jason is dedicated to driving the company's vision and ensuring its success.</p>
  </article>
  <article class="content" style="min-width: 25%;">
  </article>
</div>